.title {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: poppins;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: rgb(85, 85, 85);

}
